:root {
  --white-color-text:#fff;
  --black-color-text:#000;
  --main-bg-color:#0c0c1b;


  --page1-background:rgba(0,0,0,0.3);
  --page2-background:rgba(0,0,0,0.8);
  --accent-color:#6a64ea;


  --white-border: 0.15rem solid var(--white-color-text);
  --accent-border: 0.15rem solid var(--accent-color);
  --transition: all 0.15s ease-in-out;
}

.svg{
  stroke: var(--white-color-text);
  height: 1.5rem;
  width: 1.5rem;
  stroke-width: 1.5;
  fill: none;
}

.svg--big{
  stroke: var(--white-color-text);
  height: 3rem;
  width: 3rem;
  stroke-width: 1.5;
  fill: none;
}